
    <nav class="nav">
        <div class="container d-flex justify-content-between">
            <div class="d-flex">
                <a class="nav-brand d-flex " href="index.html">  
                    <img  src="../assets/images/logo.png" alt="logo">
                    <h1 class="d-flex align-items-center fs-2 ms-3 fw-bold">
                        7TAO
                    <span class="fs-6 ms-1">活動訂票網</span>
                    </h1>
                </a>
                <div class=" d-flex align-items-center ms-5">
                    <input type="text" class="search-input" placeholder="探索活動">
                    <button class="bg-primary p-3 border-0"><i class="icofont-search-1 search-icon"></i></button>
                  
                </div>
                
                
            </div>
           
            <ul class="nav-list d-flex align-items-center">
                <li class="nav-item"><a href="#"><i class="icofont-ui-file me-1"></i>REGISTER</a></li>
                <li class="nav-item ms-4"><a href="#"><i class="icofont-ui-user me-1"></i>LOGIN</a></li>
            </ul>

        </div>
    </nav>
