.navbar {
  border-bottom: 3px solid $primary;
}
.nav-brand {
  color: $primary;
  img {
    height: 40px; 
  }
  .title {
    font-weight: normal;
  }
}
.search-bar {

  width: 168px;
  background-color: $background;
  border-right: none;
}
.search-icon {
font-size: 15px;
 color: $secondary;
}

.nav-item {
  font-size: 18px;
}

@include media-breakpoint-up(md) { 
   .nav-brand img {
    height: 40px;
   }
  .search-bar {
    width: 284px;
  }
  .search-icon {
    font-size: 19px;
  }
 }