<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/icofont/icofont.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700;900&family=Yeseva+One&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="container">
      <div class="banner">
        <img class="w-100" src="../assets/images/event/13.jpg" alt="草東沒有派對">
      </div>
      <ul class="row g-3 category-list">
        <li class="col-lg-2 col-4 "><a
            class="category-item fw-bold d-flex flex-column align-items-center justify-content-center" href=""><img
              src="../assets/images/categories/music.png" alt="music">演出</a></li>
        <li class="col-lg-2 col-4 "><a
            class="category-item fw-bold d-flex flex-column align-items-center justify-content-center" href=""><img
              src="../assets/images/categories/heart.png" alt="heart">聯誼</a></li>
        <li class="col-lg-2 col-4 "><a
            class="category-item fw-bold d-flex flex-column align-items-center justify-content-center" href="">
            <img src="../assets/images/categories/museum.png" alt="museum">展覽</a></li>
        <li class="col-lg-2 col-4 "><a
            class="category-item fw-bold d-flex flex-column align-items-center justify-content-center" href=""><img
              src="../assets/images/categories/cutlery.png" alt="cutlery">美食</a></li>
        <li class="col-lg-2 col-4 "><a
            class="category-item fw-bold d-flex flex-column align-items-center justify-content-center" href=""><img
              src="../assets/images/categories/snowed-mountains.png" alt="outdoor">戶外</a></li>
        <li class="col-lg-2 col-4 "><a
            class="category-item fw-bold d-flex flex-column align-items-center justify-content-center more-link"
            href="">探索<br>更多</a></li>
      </ul>
      <div class="recent mt-md-5 mt-32">
        <h2 class="recent-title d-flex justify-content-between align-items-center">
          <span class="fz-24 fz-md-64">RECENT</span> 
          <span
            class="fz-md-32 fz-16 fw-bold">近期活動</span></h2>
        <ul class="event-list row row-cols-4 gx-3">
          <li class="event-card d-flex flex-column col-lg-4 col-sm-6 col-12">
            <span class="card-date pb-12 fz-md-48 fz-32">19 MAY 2023</span>
            <img class="card-img" src="../assets//images/event/01.jpg" alt="event1">
            <h3 class="card-title fw-bold fs-4">邪典電影派對——房間</h3>
            <p class="card-content">你有聽說過「大災難家」裡面的主角 Tommy Wiseau
              製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
            <div class="card-footer d-flex justify-content-between  mt-3 py-12 fw-bold">
              <div class="d-flex align-items-center"><img class="me-1" src="../assets/images/sparkler.png"
                  alt="sparkler"><span>社群活動</span></div>
              <a href="#" class="event-link d-flex align-items-center">開賣中<span class="material-icons ms-1 fs-6">
                  keyboard_double_arrow_right
                </span></a>
            </div>
          </li>
          <li class="event-card d-flex flex-column col-lg-4 col-sm-6 col-12">
            <span class="card-date mb-12 pb-12 fz-md-48 fz-32">23 MAY 2023</span>
            <img class="card-img" src="../assets//images/event/02.jpg" alt="event2">
            <h3 class="card-title fw-bold fs-4 mt-12">怪舞俱樂部</h3>
            <p class="card-content mt-12">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...
            </p>
            <div class="card-footer d-flex justify-content-between  mt-3 py-12 fw-bold">
              <div class="d-flex align-items-center"><img class="me-1" src="../assets/images/sparkler.png"
                  alt="sparkler"><span>演出</span></div>
              <a href="#" class="event-link d-flex align-items-center">檢視活動<span class="material-icons ms-1 fs-6">
                  keyboard_double_arrow_right
                </span></a>
            </div>
          </li>
          <li class="event-card d-flex flex-column col-lg-4 col-sm-6 col-12">
            <span class="card-date mb-12 pb-12 fz-md-48 fz-32">30 MAY 2023</span>
            <img class="card-img" src="../assets//images/event/03.jpg" alt="event3">
            <h3 class="card-title fw-bold fs-4 mt-12">哈利波特馬拉松</h3>
            <p class="card-content mt-12">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...
            </p>
            <div class="card-footer d-flex justify-content-between  mt-3 py-12 fw-bold">
              <div class="d-flex align-items-center"><img class="me-1" src="../assets/images/sparkler.png"
                  alt="sparkler"><span>聯誼</span></div>
                  <a href="#" class="event-link d-flex align-items-center">開賣中<span class="material-icons ms-1 fs-6">
                    keyboard_double_arrow_right
                  </span></a>
            </div>
          </li>
          <li class="event-card d-flex flex-column col-lg-4 col-sm-6 col-12">
            <span class="card-date mb-12 pb-12 fz-md-48 fz-32">12 June 2023</span>
            <img class="card-img" src="../assets//images/event/04.jpg" alt="event4">
            <h3 class="card-title fw-bold fs-4 mt-12">皮卡丘排球大賽</h3>
            <p class="card-content mt-12">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...
            </p>
            <div class="card-footer d-flex justify-content-between  mt-3 py-12 fw-bold">
              <div class="d-flex align-items-center"><img class="me-1" src="../assets/images/sparkler.png"
                  alt="sparkler"><span>遊戲競賽</span></div>
                  <a href="#" class="event-link d-flex align-items-center">開賣中<span class="material-icons ms-1 fs-6">
                    keyboard_double_arrow_right
                  </span></a>
            </div>
          </li>
          <li class="event-card d-flex flex-column col-lg-4 col-sm-6 col-12">
            <span class="card-date mb-12 pb-12 fz-md-48 fz-32">25 June 2023</span>
            <img class="card-img" src="../assets//images/event/05.jpg" alt="event5">
            <h3 class="card-title fw-bold fs-4 mt-12">酒精路跑</h3>
            <p class="card-content mt-12">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
            </p>
            <div class="card-footer d-flex justify-content-between  mt-3 py-12 fw-bold">
              <div class="d-flex align-items-center"><img class="me-1" src="../assets/images/sparkler.png"
                  alt="sparkler"><span>社群活動</span></div>
                  <a href="#" class="event-link d-flex align-items-center">開賣中<span class="material-icons ms-1 fs-6">
                    keyboard_double_arrow_right
                  </span></a>
            </div>
          </li>
          <li class="event-card d-flex flex-column col-lg-4 col-sm-6 col-12">
            <span class="card-date mb-12 pb-12 fz-md-48 fz-32">9 July 2023</span>
            <img class="card-img" src="../assets//images/event/06.jpg" alt="event6">
            <h3 class="card-title fw-bold fs-4 mt-12">展覽——我的房間</h3>
            <p class="card-content mt-12">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
            <div class="card-footer d-flex justify-content-between  mt-3 py-12 fw-bold">
              <div class="d-flex align-items-center"><img class="me-1" src="../assets/images/sparkler.png"
                  alt="sparkler"><span>展覽</span></div>
                  <a href="#" class="event-link d-flex align-items-center">開賣中<span class="material-icons ms-1 fs-6">
                    keyboard_double_arrow_right
                  </span></a>
            </div>
          </li>
        </ul>
      </div>
      <div class="online">
        <h2 class="online-title d-flex justify-content-between align-items-center">
          <span class="fz-24 fz-md-64">ONLINE</span> 
          <span class="fz-md-32 fz-16 fw-bold">線上活動</span>
        </h2>

        <div class="row d-flex flex-column flex-md-row">
          <div class="col-md-7">
            <img class="online-img " src="../assets/images/event/online.jpg" alt="online">
          </div>
          <div class="col-md-5 d-flex flex-column">
            <h3 class="fz-md-32 fz-18 fw-bold py-1 mt-md-0 mt-12">切特居批踢</h3>
            <ul class="tag-list d-flex column-gap-2 mt-md-4 mt-2 fw-bold">
              <li class="tag">競賽</li>
              <li class="tag">科技</li>
              <li class="tag">有趣</li>
            </ul>
            <p class="online-content">
              最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。
              這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。
              該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！
            </p>
            <a class="online-link bg-primary text-white text-center fz-16 fz-md-20 py-2" href="">查看活動詳情</a>
          </div>
        </div>
      </div>
    </div>
    <p class="text-secondary bg-primary fz-16 fz-md-32 py-4 fw-bold">
      活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS
    </p>
    <div class="container">

      <ul class="album-list row  g-md-3 g-4">
        <li class="col-md-3 col-sm-6 col-12">
          <div class="album-card position-relative border border-primary border-2 p-3 pb-5">
            <h3 class="title-transform  position-absolute top-0 start-50 bg-white fw-bold fs-6 py-2 px-3">社群活動</h3>
            <img src="../assets/images/album/01.jpg" alt="album1">
            <p class="pt-3 fw-bold fz-18">無聲派對-閉閉嘴dancing</p>
          </div>
        </li>
        <li class="col-md-3 col-sm-6 col-12">
          <div class="album-card position-relative border border-primary border-2 p-3 pb-5">
            <h3 class="title-transform position-absolute top-0 start-50 bg-white fw-bold fs-6 py-2 px-3">藝文活動</h3>
            <img src="../assets/images/album/02.jpg" alt="album2">
            <p class="pt-3 fw-bold fz-18">拯救老店大作戰</p>
          </div>
        </li>
        <li class="col-md-3 col-sm-6 col-12">
          <div class="album-card position-relative border border-primary border-2 p-3 pb-5">
            <h3 class="title-transform position-absolute top-0 start-50 bg-white fw-bold fs-6 py-2 px-3">自我察覺</h3>
            <img src="../assets/images/album/03.jpg" alt="album3">
            <p class="pt-3 fw-bold fz-18">內觀修行-部落篇</p>
          </div>
        </li>
        <li class="col-md-3 col-sm-6 col-12">
          <div class="album-card position-relative border border-primary border-2 p-3 pb-5">
            <h3 class="title-transform position-absolute top-0 start-50 bg-white fw-bold fs-6 py-2 px-3">聯誼活動</h3>
            <img src="../assets/images/album/04.jpg" alt="album4">
            <p class="pt-3 fw-bold fz-18">賞櫻野餐</p>
          </div>
        </li>
      </ul>
    </div>
    <p class="text-secondary bg-primary fz-16 fz-md-32 py-md-4 py-3 fw-bold">
      活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS
    </p>
    <div class="container">
      <div class="d-flex flex-md-row flex-column my-60">
        <div class=" follow d-flex flex-column border-3 border border-primary">
          <h2 class="title fw-bold fz-24 fz-md-32 py-3 border-3 border-bottom border-primary">#FOLLOW US</h2>
          <p class="text ">
            想第一時間獲得新奇有趣的活動資訊？<br>
            追蹤我們的社群吧！<br>
            也歡迎你聯繫我們，提供好玩有趣的活動企劃。
          </p>
          <ul class="contact-list d-flex flex-column pt-0">
            <li class="contact mb-3"><a class="d-flex align-items-center" href="#"><i
                  class="icofont-ui-email bg-primary text-white p-2 me-3"></i>7tao.event@gmail.com</a></li>
            <li class="contact mb-3"><a class="d-flex align-items-center" href="#"><i
                  class="icofont-phone bg-primary text-white p-2 me-3"></i>09123123123</a></li>
            <li class="contact"><a class="d-flex align-items-center" href=""><i
                  class="icofont-facebook bg-primary text-white p-2 me-3"></i>7TAO七逃</a></li>
          </ul>
        </div>
        <div class="subscribe d-flex flex-column  mt-md-0 mt-4">
          <h2 class="title fw-bold fz-24 fz-md-32 py-3  border-3 border-bottom border-primary">#SUBSCRIBE US</h2>
          <p class="text ">
            訂閱電子報送折價券！<br>
            定期精選文章資訊及最新優惠資訊，<br>
            還不通通給我訂閱起來？
          </p>
          <div class="d-flex flex-column justify-content-between f-g-1">
            <div class="input-group">
              <input class="w-100 py-3 ps-4 br-0 bg-background border border-2 border-primary" type="text"
                placeholder="輸入Email">
            </div>
            <a class="d-flex align-items-center justify-content-center bg-primary text-white fw-bold py-2 mt-md-0 mt-3 fz-16 fz-md-20" href="">確認訂閱<span
                class="material-icons ms-1 fz-16 fz-md-20 text-white">keyboard_double_arrow_right
              </span></a>
          </div>


        </div>

      </div>
    </div>
    <div class="banner-bottom border-top border-3 border-primary text-center fw-bold">
      <p class="fz-18 fz-md-32">此刻打盹，你將做夢；此刻學習，你將圓夢</p>
      <p class="fz-14 fz-md-18 mt-16 mt-md-3 mt-12">——我也不知道誰說的</p>

    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>